doctype html 
html
   head
      title helo 
   body 
      h1 lets start the game 
      table(border="2" cellpadding="10")
          thead  
             th NAME 
             th EMAIL 
             th MOBILE
          each val in allstudents 
               tr   
                   td #{val.full_name}
                   td #{val.email}
                   td #{val.mob}